body {background:url(../images/background1.png) repeat; font-family: 'Oswald', sans-serif;}
.navbar-inverse {background-color:#0078c0; height:100px;}
.navbar-inverse .navbar-brand {color:#fff;}
.navbar-inverse .navbar-nav > li > a {color:#fff; font-size:16px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {border:1px solid #fff;}
.navbar-nav {margin-top:15px;}
.content {margin-bottom:100px;}
.btn-primary {width:100%; font-size:18px;}
.logo-row {margin-bottom:25px;}
	.logo-row img {border:5px solid #ccc;}
	.logo-row h1 {font-size:20px;}
.col-md-6 h1 {font-size:20px;}
.style-tile {width:100%;}
footer {background-color:#0078c0; width:100%; height:25px; margin-top:40px; position:fixed; bottom:0px;}
p, li {font-family:Arial, sans-serif; font-size:14px;}
h3 {margin-top:40px;}
.col-md-3 {text-align:center;}

.swatch-box {min-height:100px; text-align:center; margin-right:15px;}
.gradient-blue {background: #3399cc;
background: -moz-linear-gradient(top, #3399cc 0%, #01679a 100%);
background: -webkit-linear-gradient(top, #3399cc 0%,#01679a 100%);
background: linear-gradient(to bottom, #3399cc 0%,#01679a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399cc', endColorstr='#01679a',GradientType=0 );}
.gradient-gray {background: #fefefe;
background: -moz-linear-gradient(top, #fefefe 0%, #cfcfcf 100%);
background: -webkit-linear-gradient(top, #fefefe 0%,#cfcfcf 100%);
background: linear-gradient(to bottom, #fefefe 0%,#cfcfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cfcfcf',GradientType=0 );}
.solid-gray {background-color:#e0e0e0;}
.light-blue {background-color:#6699cc;}
.background-blue {background-color:#d8e2e9;}
.black {background-color:#000;}