/* -- Structure -- */
body {background: none; background-color: #f5f5f5; font-family: 'Roboto', sans-serif; font-size: 14px; color:#617182;}
#mainContent3ColumnWrapper {box-shadow: none; margin-top: -15px; background-color:#fff;}
#centerMainColumn {border-left: 1px solid #eee; border-right: 1px solid #eee; border:0px;}
#rightMainColumnPadding {width: 200px; margin-left: 5px;}
#searchAllCategoriesButton p {background: none; font-size: 14px; font-weight: normal; text-align: left; padding: 0px; line-height: 3.4em;}
#searchAllCategoriesContainer:hover {background: #004986; border-radius: 0px;}
#searchAllCategoriesButton {border-radius: 0px;}
#browseMenuInvisible li a {background: none; font-size: 14px; font-weight: normal;}
ul.navBar ul {border: 0px;}
#search-bar {}
ul.navBar ul li {line-height: 1.5em}
#footer {background: #1d252d; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: normal; padding: 50px 0; border-top:5pd solid #00aa13;}
#centerMainColumnPadding {overflow: hidden; padding-left: 30px; padding-right: 30px;}


/* -- Text -- */
h1, h2, h3, h4, h5,h6 {font-family: 'Poppins', sans-serif;}
.breadcrumbContainer {font-size: 14px; font-weight: normal;}
	.breadcrumbContainer a {color: #0078c1;}
	.numberItemsPerPage {font-weight: normal;}
	.screenHeading {background: none; color: #333; text-align: left; margin-bottom: 40px;}
		.screenHeading h3 {color: #333; font-size: 24px;}
.errorMessage {width: 100%;}
h3 {font-size: 20px;}


/* -- Homepage -- */
.topLevelCategoryContainer {border: 1px solid #eee; border-radius: 0px; width: auto; background: none; box-shadow: none; float: none; min-height: 200px;}
	.topLevelCategoryContainer a {width: auto; color: #0078c1; left: 0; font-size: 14px; font-weight: normal;}
	.topLevelCategoryContainer:hover {box-shadow: none; border: 1px solid #ccc;}

/* -- Search Bar -- */
#applicationNavigationBar {background: #1d252d; border-radius:0px;}
#searchAllCategoriesContainer {background-color:#4f758b;}
#cartLink {border:1px solid #00aa13;}


/* -- Login -- */
#loginBox, #registerBox, #continueShoppingBox, #requestWholesaleAccountBox {float: none; width: 300px; margin-top: 30px; padding: 40px;}
.login-form-container {border: 1px solid #eee; padding: 25px; margin-left: 25px; margin-top: 10px; min-height: 361px;}


/* -- Sidebar -- */
#lineItemAddPanel {background: #eee; border-radius: 0px; width: 100% !important;}
	#lineItemAddPanel .form-group {padding-left: 5px; padding-right: 5px;}
	#lineItemAddPanel input {width:90%; margin-left:10px; margin-bottom:10px;}
	#lineItemAddPanel label {margin-left:10px;}
.accountTitle {background-color: #565656; border-radius: 0px; text-align: left; padding: 5px; font-weight: normal; font-size: 14px;}
.toolPanel {border-radius: 0px;}
.toolPanel a {background: none; font-size: 14px; font-weight: normal; border-bottom: 1px solid #ccc; margin-left: 0px; padding: 10px 5px;}
	.toolPanel a:hover {text-decoration: none;}
#userSessionPanel {width: 100%; font-size: 14px;}
#refineByCategoryContainer {border-radius: 0px; margin-top: 0px;}
a.categorySidebarLink {font-weight: normal; font-size: 14px;}
a.attributeSidebarLink {font-size: 12px; font-weight: normal;}
#attributeSidebarList ul ul li {margin-bottom: 10px;}
label.attributeNameLabel {font-size: 14px;}
a.categorySidebarLink {margin: 0px;}
#attributeSidebarList {background-color: transparent; border-radius: 7px;}
.attribute-panel a {display: inline-block;}
#userSessionPanel {font-size: 12px; color: #000;}

/* -- Order Pad -- */
.orderpadQuantityField input, .orderpadUOMField input {width: 100px;}


/* -- Buttons -- */
.btn {border-radius: 0px;}
.btn-secondary {background-color: #00aa13; border-color: #c5602b; padding: 15px 30px;}
	.btn-secondary:hover {background-color: #019612;}
.btn-primary {text-align: center !important; border-radius:0px; background-color:#004986;}
.button {text-align: center !important; border-radius:0px; background:#004986;}
	.button:hover {text-align: center !important; border-radius:0px; background:#4f758b !important;}
#cartInfo {padding-top: 5px; padding-bottom: 7px; line-height: 16px; font-size: 14px; font-weight: normal;}
.text a {border-radius:0px; background:#004986;}
	.text a:hover {background:#4f758b; text-decoration:none;}
.addToCartButton {border-radius:0px; background-color:#00aa13;}
.text {padding-top:0px; padding-bottom:33px;}

/* -- Form Fields -- */
.form-control {border-radius: 0px;}
.standardForm label {font-size: 14px;}
.standardForm input {width: 100%;}
.label {font-size: 14px;}
checkbox {margin-right:5px;}

/* -- Tables -- */
.table td, .table th {vertical-align: middle;}
.standardTable a {font-weight: normal;}
.standardTable img {box-shadow: none; border: 0px;}
.columnHeader td {background-color: #565656 !important; font-weight:normal;}
th {background-color: #565656;}
.standardTable input {display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.row-shaded {border:0px;}

/* -- Ship To Screen -- */
#shipToScreen .standardForm fieldset {width: 100%;}
.standardForm fieldset {border: 1px solid #eee; border-radius: 0px;}
.search-ship-to-btn {margin-top: 20px;}
table.viewShiptoSelectionTable {min-width: 100%;}
#shipto-filter th {background-color:transparent; padding:0 10px;}
#shipto-filter table {margin:0 auto;}
	#shipto-filter td {margin-left:10px;}


/* -- Review Orders Screen -- */
#reviewOrdersEntryDateContainer th {background-color:transparent;}
#reviewOrdersOtherQualifiersContainer th {background-color:transparent;}


/* -- Check out Screen -- */
#checkoutForm th {background-color:transparent;}

/* -- Pagination -- */
#itemListNavigationTopUtil {width: 100%; text-align: left; padding-bottom: 0px;}
.numberItemsPerPage {margin: 0px;}
.itemListNavPage {font-weight: normal; margin-left: 15px;}

/* -- Item Detail -- */
#itemDetailInfo, #itemDetailWishList {margin-top:0px;}
#itemDetailImg, #itemDetailCart {max-height:350px;}
#itemDetailInfo .text {padding:0px;}
.continueShoppingContainer a {margin-bottom:0px; margin-right:60px;}
.tabtr {background-color:#1f1f1f;}
#itemDetailScreen #itemDetailTab img {position:relative; right:-70px; top:-2px;}
.continueShoppingContainer a {font-weight:normal; margin:0px; position:relative; top:-45px;}
#itemDetailInfo {background-color:#fff; border:0px;}
#itemDetailInfo table {width:100%; margin-bottom:1rem; border-collapse:collapse; margin-top:-50px; table-layout:fixed;}
	#itemDetailInfo tbody {font-size:14px;}
	#itemDetailInfo tbody tr {transition: background 450ms ease-in;}
	#itemDetailInfo tbody tr:nth-of-type(2n+1) {}
	#itemDetailInfo td {vertical-align:initial; padding:0.45rem; }
	#itemDetailInfo .text {padding-top:0px !important; font-size:14px; padding:0.45rem;}
	#itemDetailInfo .label {width:165px;}
.item {font-family: 'Roboto', sans-serif; font-size: 14px; font-weight:normal; color:#617182;}
#itemDetailCart {}
.qty-input {width:25%; display:inline-block;}
#itemDetailTab .text {font-size:14px; padding:0px !important;}

/* -- Shopping List -- */
#accountInfo {background-color:transparent; max-width:100%; border:0px;}
#accountInfo th {background-color:transparent;}

/* -- Order Pad -- */
#orderPadTable {width:100%; font-size:14px;}


