/* -- Structure -- */
body {background: none; background-color: #f5f5f5; font-family: 'Roboto', sans-serif; font-size: 14px; color:#617182;}
#mainContent3ColumnWrapper {box-shadow: none; margin-top: -15px;}
#centerMainColumn {border-left: 1px solid #eee; border-right: 1px solid #eee;}
#rightMainColumnPadding {width: 200px; margin-left: 5px;}
#searchAllCategoriesButton p {background: none; font-size: 14px; font-weight: normal; text-align: left; padding: 0px; line-height: 3.4em;}
#searchAllCategoriesContainer:hover {background: #004986; border-radius: 0px;}
#searchAllCategoriesButton {border-radius: 0px;}
#browseMenuInvisible li a {background: none; font-size: 14px; font-weight: normal;}
ul.navBar ul {border: 0px;}
#search-bar {}
ul.navBar ul li {line-height: 1.5em}
#footer {background-color: #565656; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: normal; padding: 50px 0;}
#centerMainColumnPadding {overflow: hidden;}

/* -- Text -- */
h1, h2, h3, h4, h5,h6 {font-family: 'Poppins', sans-serif;}
.breadcrumbContainer {font-size: 14px; font-weight: normal;}
	.breadcrumbContainer a {color: #0078c1;}
	.numberItemsPerPage {font-weight: normal;}

/* -- Homepage -- */
.topLevelCategoryContainer {border: 1px solid #eee; border-radius: 0px; width: auto; background: none; box-shadow: none; float: none; min-height: 200px;}
	.topLevelCategoryContainer a {width: auto; color: #0078c1; left: 0; font-size: 14px; font-weight: normal;}
	.topLevelCategoryContainer:hover {box-shadow: none; border: 1px solid #ccc;}

/* -- Login -- */
#loginBox, #registerBox, #continueShoppingBox, #requestWholesaleAccountBox {float: none; margin: 0 auto; width: 300px; margin-top: 30px; padding: 40px;}


/* -- Sidebar -- */
#lineItemAddPanel {background: #eee; border-radius: 0px; width: 100% !important;}
	#lineItemAddPanel .form-group {padding-left: 5px; padding-right: 5px;}
.accountTitle {background-color: #565656; border-radius: 0px; text-align: left; padding-left: 5px; font-weight: normal; font-size: 14px;}
.toolPanel {border-radius: 0px;}
.toolPanel a {background: none; font-size: 14px; font-weight: normal; border-bottom: 1px solid #ccc; margin-left: 0px; padding: 10px 5px;}
	.toolPanel a:hover {text-decoration: none;}
#userSessionPanel {width: 100%; font-size: 14px;}
#refineByCategoryContainer {border-radius: 0px; margin-top: 0px;}
a.categorySidebarLink {font-weight: normal; font-size: 14px;}
a.attributeSidebarLink {font-size: 12px; font-weight: normal;}
#attributeSidebarList ul ul li {margin-bottom: 10px;}
label.attributeNameLabel {font-size: 14px;}
a.categorySidebarLink {margin: 0px;}
#attributeSidebarList {background-color: transparent; border-radius: 7px;}
.attribute-panel a {display: inline-block;}


/* -- Buttons -- */
.btn {border-radius: 0px;}
.btn-secondary {background-color: #DB6B30; border-color: #c5602b; padding: 15px 30px;}
	.btn-secondary:hover {background-color: #c5602b;}
#cartInfo {padding-top: 5px; padding-bottom: 7px; line-height: 16px; font-size: 14px; font-weight: normal;}

/* -- Form Fields -- */
.form-control {border-radius: 0px;}
.standardForm label {font-size: 14px;}
.standardForm input {width: 100%;}
.label {font-size: 14px;}

/* -- Tables -- */
.standardTable a {font-weight: normal;}
.standardTable img {box-shadow: 0px; border: 0px;}
.columnHeader td {background-color: #565656;}