body {background-color:#0078c0;}
.portal-home {width:640px; text-align:center;}
#logo {margin-top:20px;}
.btn-primary {color:#fff
    background: #377bbf;
    background: -moz-linear-gradient(top, #377bbf 0%, #23527c 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#377bbf), color-stop(100%,#23527c)); 
    background: -webkit-linear-gradient(top, #377bbf 0%,#23527c 100%);
    background: -o-linear-gradient(top, #377bbf 0%,#23527c 100%);
    background: -ms-linear-gradient(top, #377bbf 0%,#23527c 100%); 
    background: linear-gradient(to bottom, #377bbf 0%,#23527c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#377bbf', endColorstr='#23527c',GradientType=0 );}
.btn-primary:hover { color:#fff;
  background: #4188e0;
  background: -moz-linear-gradient(top,  #4188e0 1%, #23527c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4188e0), color-stop(100%,#23527c));
  background: -webkit-linear-gradient(top,  #4188e0 1%,#23527c 100%);
  background: -o-linear-gradient(top,  #4188e0 1%,#23527c 100%);
  background: -ms-linear-gradient(top,  #4188e0 1%,#23527c 100%);
  background: linear-gradient(to bottom,  #4188e0 1%,#23527c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4188e0', endColorstr='#23527c',GradientType=0 );}
a {color:#fff;}
h1 {color:#fff; font-size:16px;}
h5 {background-color:#C2DAE8; border:1px solid #8dacbe; padding:7px; margin:0px; font-weight:bold;}
.current {font-weight:bold;}
.page-header {margin:0px !important;}

/* -- WEATHER SYSTEM STYLES--*/
#icon { width:7.5em; height:7.5em; float:left;}
.currentTemp { margin:0.1em 0.4em 0.2em 0; font-size:5em; color:#fff; text-shadow:0 2px 3px rgba(0,0,0,0.3); }
.hourSummary {background-color:#fff; margin-bottom:10px; padding:10px; width:30%; float:left; border-radius:5px; min-height:60px;}
.daySummary {background-color:#eee; margin-bottom:10px; padding:10px; border-radius:5px; min-height:60px;}
.icon-temp {margin:0 auto; width:40%;}
.summaries {}
#forecast {text-align:center;}
.newfeature {color:#fff;}
.btn-default {background-color:transparent; color:#fff; border:5px solid #fff; padding:12px; border-radius:0px; font-size:16px;}
.button {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}

.button:after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.button:hover {
  color: #555;
}
.button:hover:after {
  left: -10%;
  width: 120%;
}

#has-alert {background:url(../images/warning-bg.png) repeat; padding:15px; color:#dcdedf; text-align:left;}
  .alert-headline {text-align:center; font-size:18px; font-family: 'Oswald', sans-serif;}
  .alerts {text-align:center;}
.no-alert {background:url(../images/green-bg.png) repeat; padding:15px; color:#dcdedf; margin-bottom:15px; width:93%;}


@media screen and (max-width: 768px) {


}

