/* -- STRUCTURE -- */
html, body {height: 100%; background-color:#fff;}
body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color:#1d252d; background-color:#fff; padding-top:0px;}
.main {min-height: 100%;}
.logo {text-align:center; border-bottom:1px solid #045d95; padding-bottom:15px;}
header {background-color:#1d252d;}
.header-bar {background-color:#1D252D; border-bottom: 2px solid #00AA13;}
	.login-tagline {color:#fff;}
.topper-nav {color:#fff; margin-right:90px;}
	.topper-nav a {color:#fff;}
		.topper-nav a:hover {color:#eee;}
 .navbar-default {background-color:#fff;}
 						.nav-item {margin:0 15px;}
            .nav-link {font-size:17px; color:#1d252d; font-weight:400; letter-spacing:.16px; text-align:left;}
                .nav-link:hover {border-bottom:3px solid #00aa13; padding-bottom:5px; transition:none;}
                .nav-link:focus {border-color:#00aa13;}
            .body-content {margin-top:0px;}
            #navbar {padding-left:0px;}
            .navbar-container {padding-left:0px;}
.content-block {font-size:14px; margin-top:25px; padding:0 15px;}
                .content-block h2 {font-size:16px; background-color:#1d252d; color:#fff; margin-top:0px; margin-left:-15px; margin-right:-15px; padding:10px 15px;}
.headline-container {margin-left:15px;}
.login-wrapper {background-color:#fff; padding:50px; margin-top:50px; margin-bottom:50px; overflow:auto;
  }
.popup-container {padding:50px;}
.footer {background-color: #1d252d; color:#b7c9d3; line-height:24px; text-align:center;}
	.footer-logo {width:10%;}
	.footer a {color:#b7c9d3;}
		.footer a:hover,active {color:#fff;}
#langOptions {color:#fff;}
#langOptions .dropdown-toggle {color:#fff;}


/* -- TEXT AND LINKS -- */
h1 {font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:22px; color:#fff;}
h1, h2, h3, h4, h5,h6 {font-family: 'Titillium Web', sans-serif; font-weight:700; font-weight:400;}
h2 {font-size:1.3rem;}
h5 {font-size:0.9rem;}
.btn-success {background-color:#00aa13; border:0px;}
.btn-primary {background-color:#4f758b; border:0px;}
	.btn-primary:hover,active {background-color:#004986;}
	.btn-primary:focus {color:#fff;}
.show-password-label {position: absolute;right: 12px;top: 50%;z-index:999;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.show-password-label a {font-size: 90%;text-decoration: none;}
.form-control {font-size:0.9rem;}
.passwordReset {margin-left:20px; color:#fff;}
a {color:#004986;}
	a:hover {color:#0264b5}
	a:focus {color:#0264b5;}
.choose-language-link {text-decoration:none;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color:#004986;}
.nav-pills .nav-link {border-radius:0px; color:#004986;}
.white-link {color:#fff; text-decoration:underline;}
	.white-link:hover {color:#eee;}
	.white-link:active {color:#eee;}
	.white-link:focus {color:#eee;}

/* -- Colors -- */
.green {color:#00aa13;}
.red {color:#ca0d0d;}

/* -- Header -- */
.navbar-custom {min-width: 360px;height: 64px; background:#1D252D;}
#sidebar-brand-container {background-color:#1D252D; border-bottom: 2px solid #00AA13;}
.sidebar-brand {color: #f8f9fa;}
.page-container {background: #EDF0F2;margin-top: 25px; min-height: 70vh;}
.navigation-header {font-size:14px; margin-bottom:0px; margin-top:15px; margin-left:15px;}


/* -- Login Page Content -- */
.login-image { padding-left:0px; margin-left:-1px; }
.login-fields {background-color:#4f758b; color:#fff; padding:90px 40px; max-height:549px;}
.owl-dots {display:none;}

/* -- Content -- */
.content-block {border:1px solid #eee; font-size:14px; margin-top:25px; position:relative;}
	.content-block h2 {font-size:16px; background-color:#1d252d; color:#fff; margin-top:0px; margin-left:-15px; margin-right:-15px; padding:10px 15px;}
.table thead {background-color:#eee;}
.w-100 {width:100%;}
.alert-message {background-color:#F8D7DA; color:#842029; padding:1rem 1rem; text-align:center; border:1px solid #842029;}

/* -- Tables -- */
.dataTables_scrollBody {height:100% !important;}
tfoot {font-weight:bold;}

/* -- Supplier Portal --*/
.program-card-text {background-color:#1d252d; color:#fff; padding-top:60px; padding-left:20px;}
#demographicsResChart {margin:0 auto;}
.demographic-link {border:0px; margin:0px; border-radius:0px; padding:0px; font-size:14px; font-weight:normal; border-color:transparent;}
	.demographic-link:hover {border:0px; border-color:transparent; padding-bottom:0px; margin-bottom:0px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {background-color:transparent; border-color:transparent;}
.demographic-table {display:table;}
.lowVoltChart {margin:0 auto;}
button.dt-button, div.dt-button, a.dt-button, input.dt-button {background:#fff !important;}

/* -- OSR PAGE -- */
.sales-all-programs {background:url(../images/sales-all-programs.jpg) no-repeat; min-height:300px;}
	.sales-all-programs:hover {transform: scale(1.04); transition: all .5s; }
.osr-card-content {color:#fff; position:relative; top:200px; font-size:16px; text-align:center;}
.billing-margin {background:url(../images/billing-margin.jpg) no-repeat; min-height:300px;}
.ytd-cogs-card {background:url(../images/ytd-cogs-card.jpg) no-repeat; min-height:300px;}
	.ytd-cogs-card:hover {transform: scale(1.04); transition: all .5s;}
.pytd-cogs-card {background:url(../images/pytd-cogs-card.jpg) no-repeat; min-height:300px;}
	.pytd-cogs-card:hover {transform: scale(1.04); transition: all .5s;}
.customers-card {background:url(../images/customers-card.jpg) no-repeat; min-height:300px;}
	.customers-card:hover {transform: scale(1.04); transition: all .5s;}
.vip-trips {background:url(../images/vip-trips.jpg) no-repeat; min-height:300px;}
.customer-trips {background:url(../images/customer-trip.jpg) no-repeat; min-height:300px;}
.connect-rewards-card {background:url(../images/connect-rewards-card.jpg) no-repeat; min-height:300px;}
	.file-icon { color:#fff; display:inline; padding:3px 5px;}
		.pdf {background-color:#C50606;}
		.word {background-color:#0057BB;}
.wesco-scorecard {min-height:380px; position:relative;}
.document-library {min-height:380px;}
 .dataTables_info {display:none;}
 .enrolled-customers-card {min-height:200px;} 
 .scorecard-value {font-size:36px; margin-bottom:0px; font-weight:bold;}
 .card-text {min-height:75px;}
 .documents-btn {position:absolute; top:0px; right:25px; margin-top:5px;}
 .document-library-nav-link {color:#fff;}
 	.document-library-nav-link:hover {color:#b7c9d3;}
 	.document-library-nav-link:active {color:#b7c9d3;}
 	.document-library-nav-link:focus {color:#b7c9d3;}
.total-amount {margin-top:-50px;}
.scorecard-desc {font-size:14px; padding:0 15px;}

.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* Left & Right */

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
}

/* Top and Bottom */

.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.top .modal-content,
.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
}

.modal.top .modal-body,
.modal.bottom .modal-body {
  padding: 15px 15px;
}

/* Top */

.modal.top.fade .modal-dialog {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.top.fade.show .modal-dialog {
  top: 0;
}

/* Bottom */

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

/* Full Screen */

.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

/* Footer */

.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 0;
}

/* XS */

.modal.left.xs .modal-body,
.modal.right.xs .modal-body {
  padding: 15px;
}

@media screen and (max-width: 1024px) {
.scorecard-value {font-size:18px;}
.scorecard-desc {padding:0 5px; font-size:12px;}
}

/* -- MEDIA QUERIES -- */
@media screen and (max-width: 480px) {
	header {text-align:center; padding-bottom:15px;}
	.sales-all-programs {margin-bottom:15px; background-position:center;}
	.customers-card {margin-bottom:15px; background-position:center;}
	.billing-margin {margin-bottom:15px; background-position:center;}
	.ytd-cogs-card {margin-bottom:15px; background-position:center;}
	.vip-trips {margin-bottom:15px; background-position:center;}
	.customer-trips {margin-bottom:15px; background-position:center;}
	.connect-rewards-card {margin-bottom:15px; background-position:center;}
	.pytd-cogs-card {margin-bottom:15px; background-position:center;}
	.file-icon {display:none;}
	.enrolled-customers-card {margin-bottom:15px;}
	.nav-pills .nav-link.active, .nav-pills .show > .nav-link {font-size:12px; padding:5px;}
	.nav-pills .nav-link {font-size:12px; padding:5px;}
	#connectRewardsSummary img {display:none;}
	#connectRewardsSummary .col-md-4 {margin-bottom:15px;}
	#edgeAdvantageSummary img {display:none;}
	#edgeAdvantageSummary .col-md-4 {margin-bottom:15px;}
	#vipEliteSummary img {display:none;}
	#vipEliteSummary .col-md-4 {margin-bottom:15px;}
	.program-card-text {padding-top:15px; padding-left:15px; padding-bottom:15px; text-align:center;}
	.logo {width:45%;}
	#langOptions {margin-top:15px !important; float:none !important;}
		#langOptions p {margin:0 auto;}
	.nav-item {margin:0 5px;}
	#myTabContent {margin-bottom:40px;}
	.footer-logo {width:30%;}
	.scorecard-value {font-size:48px;}
	.osr-card-content {top:150px;}
	.scorecard-desc {font-size:16px;}
}
